{% extends 'main/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'workers/css/workers-all.css' %}">
{% endblock %}

{% block title %} Всі робітники {% endblock %}

{% block content %}
    <h1>Кількість робітників: {{workers_count}}</h1>
    <div class="worker-buttons">
        {% if perms.workers.add_worker %}
            <a class="btn create" href="{% url 'worker_create' %}">Створити робітника</a>
        {% endif %}

            <a class="btn create" href="{% url 'worker_search' %}">Пошук робітників</a>
    </div>

    <h1>Всі робітники:</h1>
    {% for worker in all_workers %}
        <h2>{{worker.name}}: {{worker.salary}} $</h2>
        <div class="worker-buttons">
            <a class="btn details" href="{% url 'worker_detail' worker.id %}">Детальніше</a>

            {% if perms.workers.change_worker %}
            <a class="btn edit" href="#">Редагувати</a>
            {% endif %}

            {% if perms.workers.delete_worker %}
            <a class="btn delete" href="{% url 'worker_delete' worker.id %}">Видалити</a>
            {% endif %}
        </div>

    {% endfor %}
{% endblock %}
